.NcHeadLine {
  font-family: "Droid Serif";
  font-size: 72pt;
  font-style: italic;
  color: gold;
  background: -webkit-linear-gradient(gold, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cssmarquee {
  background-color: gold;
  height: 50px;
  overflow: hidden;
  position: relative;
}
.cssmarquee h2 {
  font-style: italic;
  color: red;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  transform: translateX(100%);
  animation: cssmarquee 10s linear infinite;
}
@keyframes cssmarquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.link {
  text-decoration: none;
}
