.form {
  padding: 10px;
  background-color: gold;
  color: red;
  font-weight: bolder;
  font-style: italic;
}

.form button {
  text-align: center;
  color: red;
  text-decoration: none;
  background-color: lavender;
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2pt;
  text-decoration: yellow;
  width: 6rem;
  height: 2rem;
}
