.form {
  background: red;
  padding: 10px;
  font-weight: bolder;
  font-style: italic;
  border-radius: 12pt;
}

.form textarea {
  border-radius: 3pt;
  width: 50%;
}

.form button {
  text-align: center;
  color: red;
  text-decoration: none;
  background: linear-gradient(#fff5e6, #a3c8c9);
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2pt;
  width: 6rem;
  height: 2rem;
}

.form button:hover {
  background: linear-gradient(#a3c8c9, #fff5e6);
}
